#hp{
height: 250px;
width: 350x;
}

#hermy{
    height: 250px;
    width: 350px;
}

#ron{
    height: 250px;
    width: 350px;
}

#dumb{
    height: 250px;
    width: 350px;
}

#ginny{
    height: 250px;
    width: 350px;
}

#luna{
    height: 250px;
    width: 350px;
}

#hermyione{
    height: 250px;
  width:350px;
}

#red{
    height: 250px;
    width:350px;
}

#dumble{
    height: 250px;
    width:350px;
}

#scar{
    height: 250px;
    width:350px;
}
